body{
	margin: 0;
	top: 0;
	background-color: #EEEEEE;
}

.space{
	display: block;
	width: 100%;
}

.bodybgcolor{
	background-color: #EEEEEE;
}
.color-1{
	color: #FAFAFA;
}
.bcolor-1{
	background-color: #FAFAFA;
}

.color-2{
	color: #FFE66D;
}
.bcolor-2{
	background-color: #FFE66D;
}

.color-3{
	color: #1A535C;
}
.bcolor-3{
	background-color: #1A535C;
}

.color-4{
	color: #4ECDC4;
}
.bcolor-4{
	background-color: #4ECDC4;
}











.page-header{
	background-color: #1A535C;
  z-index: 900;
  box-shadow: 0px 0px 10px 3px #1A535C;

}

.header-top{
	display: block;
    width: 100%;
    height: 75px;
}

.header-top-left{
	margin-top: 5px;
	margin-left: 0;
	display: inline-block;
	float: left;
	height: 35px;
	width: 25%;
}

.header-top-left li{
	list-style: none;
	text-decoration: none;

	float: left;
	padding: 0px 20px;

}

.header-top-left li a{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F7FFF7;
}

.header-top-left li a:hover{
	color: #FFE66D;
    transition: 0.8s;
}

.header-top-left li a:active{
	color: #FFE66D;
}



.header-search{
	display: block;
	float: left;
	width: 35%;
	height: 40px;
    margin-top: 35px;
}

.header-search form input[type=text]{
	width: 80%;
	height: 50%;
	border:3px solid #F7FFF7;
	color: grey;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	padding: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
	display: block;
	float: left;
}

.header-search form input[type=text]:focus{
	border: 3px solid #4ECDC4;
	outline: none;
	color: grey;
}


.header-search form button{
	display: block;
	float: left;
	margin-left: 0px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
    background-color: white;
    border-left: 1px solid #1A535C;

}

.header-search form button:hover{

	background-color: #4ECDC4;
    transition: 0.8s;
}	




.header-top-right{
	margin-top: 25px;
	margin-right: 0;
	display: inline-block;
	float: right;
	height: 50px;
	min-width: 20%;
}

.header-top-right li{
	list-style: none;
	text-decoration: none;
    display: block;
	float: left;
	padding: 0px 25px;

}

.header-signin a{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: white;
}

.header-cart a{

	font-size: 18px;
	color: white;
}

.header-member img{
	display: block;
	border-radius: 20px;
	margin-top: -10px;
	width: 40px;
	height: 40px;
}

.header-member i{
	margin-top: -10px;
	font-size: 40px;
	color: white;
}


.header-top-right li a:hover{
	color: #FFE66D;
    transition: 0.8s;
}

.header-top-right li a:active{
	color: #FFE66D;
}


.header-bottom{
	margin-top: -20px;
	display: inline-block;
	width: 100%;
	height: 50px;
}

.header-logo{
	display: block;
	width: 30%;
	height: 100%;
	float: left;
}

.header-logo img{
	margin-left: 20%;
	margin-top: -20px;
	width: 200px;
	height: 60px; 
	cursor: pointer;

}

.header-nav{
	 display: block;
	height: 100%;
	width: 50%;
    float: right;

}

.header-nav ul{
	display: inline-block;
	height: 100%;
	width: 90%;
	float: right;

}	

.header-nav ul li{
	text-decoration: none;
	display: block;
	list-style: none;
    float: left;
	width:25%;
	position: relative;
	text-align: center;
	margin-top: -15px;
}

.nav-span{
	font-size: 16px;
	color: white;
}

.header-btn {
  display: block;
  font-family: Verdana;
  border-radius: 0;
  color: white;
  width: 100%;
  border: 10px;
  padding: 5px 0px 5px 0px;
  font-size: 13px;
  border: none;
  cursor: pointer; 
	text-decoration: none;
}

.header-btn:hover {
	color: #1A535C;
	background-color: #4ECDC4;
  transition: 0.8s;
}

.header-btn:hover span{
	color: #1A535C;
    transition: 0.8s;
}	

.header-btn i{
	display: block;
}

.header-btn span{
	display: block;
}

.header-dropdown-content {
  display: block;
  width: 100%;  
  position: absolute;
  background-color: #2B646E;
  overflow: hidden;
  box-shadow: 0px 8px 15px 0px rgba(25,25,25,0.4);
  z-index: 800;
}

.header-dropdown-content li{
   display: inline-block;
   width: 16.3%;
}


.header-dropdown-content li a{
   display: block;
   width: 100%;
   height: 15px;
  color: white;
  padding: 5px;
  border: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer; 
  text-decoration: none;
  text-align: center;
}

.header-dropdown-content li a:hover{
    color: #FFE66D;
    transition: 0.8s;
 
}


.header-bottom ul li:hover .header-dropbtn{
	color: #1A535C;
	background-color: #4DCCC3;
	font-weight: bold;
    transition: 0.8s;
}

.header-bottom ul li:hover .header-dropdown-content{
    display: block;
      transition: 0.8s;
}


.page-content{
	width: 100%;
	display: block;
	min-height: 100%;
}

.page-footer{
  z-index: 900;
	display: block;
	height: 250px;
	width: 100%;
	background-color: #1A535C;
	position: relative;
}

.page-footer ul{
	display: block;
	width: 90%;
	margin-left: 2%;
}

.page-footer-main{
	display:inline-block;
	width: 100%;
	height: 200px;

}


.page-footer-name{
	float: left;
	height: 100%;
	width: 50%;
}
	
.page-footer-link{
	float: left;
	height: 100%;
	width: 20%;
	
}
.page-footer-contact{
	float: right;
	height: 100%;
	width: 30%;
}


.page-footer-name-top{
	display: block;
	width: 100%;
	height: 40px;
}

.page-footer-name-top h1{
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	color: #4ECDC4;
}

.page-footer-name-middle{
	display: block;
	width: 100%;
	height: 110px;
}	

.page-footer-name-middle p{
	font-family: verdana;
	color: white;
	font-size: 16px;

}

.page-footer-name-bottom{
	display: block;
	width: 100%;
	height: 50px;
}	





.page-footer-link-top{
   display: block;
   width: 100%;
   height: 50px;
   margin-left: 85px;

}

.page-footer-link-top h2{
	font-family: Arial, Helvetica, sans-serif;
	color: #4ECDC4;
}

.page-footer-link-bottom{
   display: block;
   width: 100%;
   height: 150px;
    margin-left: 50px;
}

.page-footer-link-bottom ul{
	 list-style-type: none;
	 margin: 0;
}

.page-footer-link-bottom ul li{
	margin-bottom: 10px;
}


.page-footer-link-bottom ul li a{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 17px;
	color: white;

 
}
.page-footer-link-bottom ul li a:hover{

	color: #FFE66D;
 
}



.page-footer-contact-top{
   display: block;
   width: 100%;
   height: 50px;   
   margin-left: 35px;

}

.page-footer-contact-top h2{
	font-family: Arial, Helvetica, sans-serif;
	color: #4ECDC4;
}

.page-footer-contact-bottom{
   display: block;
   width: 100%;
   height: 150px;
}

.page-footer-contact-bottom ul{
	 list-style-type: none;
	 margin: 0;
}

.page-footer-contact-bottom ul li{
	margin-bottom: 10px;
}

.page-footer-contact-bottom ul li a{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 17px;
	color: white;

 
}
.page-footer-contact-bottom ul li a:hover{

	color: #FFE66D;
 
}		

.page-footer-bottom{
	display: block;
	width: 100%;
	height: 25px;
	text-align: center;
	background-color: #1A535C;
}
.page-footer-bottom p{
	color: white;
	font-size: 18px;
}







.signup-title{
  display: block;
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 50px;
   position: relative;
}

.signup-title h1{
  font-family: sans-serif;
  color: #1A535C;
  font-size: 40px;

}

.signup-section{
   display: block;
   width: 90%;
   margin-left: 5%;
}
.signup-section ul:after {
  content: "";
  display: table;
  clear: both;
}

.signup-section ul .signup-container{
   text-decoration: none;
   display: block;
  width: 60%;
  height: auto;
  float: left;
  margin-left: 20%;  
   text-decoration: none;
   height: 1050px;
}

.signup-section ul .signup-separator{
   text-decoration: none;
   height: 1050px;
  width: 10%;
  height: 1050px;
  float: left;
}

.signup-section ul .signup-signin-container{
   text-decoration: none;
   height: 1050px;
  width: 30%;
  height: 1050px;
  float: right;
  
}



.signup-box{
   display: block;
   width: 100%;
   height: 900px;
   margin-top: 75px;
  border-radius: 10px;
  background-color: #FAFAFA;
  box-shadow: 1px 1px 50px #BBBBBB;
}

.signup-logo-box{
   display: block;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   margin-left: 50%;
   transform: translate(-50%,-50%);
  background-color: #1A535C;  
}

.signup-logo-box span{
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  color: #1A535C;
  background-color: #FAFAFA;
  border-radius: 50%;
  font-size: 55px;
  top: 5px;
  left: 5px;
  text-align: center;
}

.signup-logo-box span i{
  margin-top: 7px;
  font-size: 50px;

  
}  


.signup-form-container{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.signup-form-container h4{
   display: block;
   color: #1A535C;
   font-size: 18px;
   font-family: sans-serif;
}

.signup-form-container .signup-form{
  position: relative;
  display: block;
  width: 80%;
  height: 400px;
  margin-left: 10%;
  margin-top: -25px;
}


.signup-form .signup-fname{
	display: block;
	float: left;
	width: 48%;
	height: 87px;
}

.signup-form .signup-lname{
	display: block;
	float: right;
	width: 48%;
	height: 87px;
}

.signup-form .signup-dob{
	display: block;
	float: left;
	width: 45%;
	height: 87px;
}

.signup-form .signup-gender{
	display: inline-block;
	width: 20%;
}



.signup-form-container .signup-form h4{
    display: block;
    width: 100%;
    height: 18px;
	margin-bottom: 5px;

}

.signup-form input[type=text]{
  width: 100%;
  padding: 7px 10px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
    color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.signup-form input[type=text]:focus{
  border: 2px solid #4ECDC4;
  outline: none;
  color: #1A535C;
}

.signup-form input[type=date]{
  width: 100%;
  padding: 7px 10px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
    color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.signup-form input[type=date]:focus{
  border: 2px solid #4ECDC4;
  outline: none;
  color: #1A535C;
}



.signup-form input[type=radio]{
  appearance:none;
  width: 18px;
  height: 18px;
  border: 2px solid #1A535C;
  color:#1A535C;
  border-radius: 50%;
  margin-top: 10px;
  display: inline-grid;
}

.signup-form input[type=radio]:before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #4ECDC4;
}

.signup-form input[type=radio]:checked::before{
	transform: scale(1);
	transform: translate(2px,2px);
}

.signup-form input[type=radio]:focus + label{
    font-weight: bold;
	color:  #4ECDC4;

}

.signup-gender label{
	color: #1A535C;
	font-size: 18px;
}



.signup-form input[type=email]{
  width: 100%;
  padding: 7px 10px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
    color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.signup-form input[type=email]:focus{
  border: 2px solid #4ECDC4;
  outline: none;
  color: #1A535C;
}

.signup-form input[type=password]{
  width: 100%;
  padding: 7px 10px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
    color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.signup-form input[type=password]:focus{
  border: 2px solid #4ECDC4;
  outline: none;
  color: #1A535C;
}

.signup-form input[type=submit]{
  width: 100%;
  margin-top: 40px;
  margin-left: 50%;
  transform: translate(-50%,0);
  padding: 5px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.signup-form input[type=submit]:focus{
  border: 2px solid #4ECDC4;
  outline: none;
  color: #1A535C;
}
.signup-form input[type=submit]:hover{
  outline: none;
  color: #4ECDC4;
  background-color: #1A535C;
  cursor: pointer;
}





.signup-form .signup-policy {
  width: 100%;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #1A535C;
  font-family: sans-serif;
}

.signup-form .signup-policy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.signup-form .checkmark{
   position: absolute;
  top: 0;
  left: 5px;
  height: 15px;
  width: 15px;
  border: 2px solid #1A535C;
  border-radius: 4px;
}

.signup-form .signup-policy input:checked ~ .checkmark {
  background-color: #1A535C;
  border: 2px solid #1A535C;
 } 


.signup-form .checkmark:after {
  content: "";
  position: absolute;
  display: none;

}


.signup-form .signup-policy input:checked ~ .checkmark:after {
  display: block;
}

.signup-form .signup-policy .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.signup-form .signup-policy a{
  color: #1A535C;
  font-size: 14px;
  text-decoration: underline;

}

.signup-form .signup-policy a:hover{
    color: #4ECDC4;
 } 


 .signup-form .signin-link{
 	display: block;
 	width: 100%;
 	text-align: center;
 	margin-top: 60px;
 	color: #1A535C;
 	font-size: 18px;
 }

 .signup-form .signin-link:hover{
 	color: #4ECDC4;
 }

 /* Sell With Us */

 .sell-image-container{
 	position: relative;
 	text-align: center;
 	color: white;

 }

 .sell-image-container .sell-image-text{
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%,-50%);
    font-weight: bold;
    font-family: sans-serif;
 	font-size: 50px;


 }

 .sell-image-overlay{
 	background-color: #111111;
 }

 .sell-description-container{
 	display: block;
 	width: 60%;
 	margin-left: 20%;
 	height: auto;
 }

  .sell-description-container h5{
 	font-size: 25px;
 	padding: 10%;
 	font-family: Arial, sans-serif;
 	color: grey;
 	font-weight: normal;
 	color: #1A535C;
 	
 }

 .sell-parallax-container{
 	background-image: url("Picture2.jpg");
 	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%; 
    min-height: 200px;
 }

 .sell-form-container{
 	display: block;
 	background-color: white;
 	opacity: 0.9;
 	width: 50%;
 	margin-left: 25%;
    border-radius: 10px;
 }


.sell-form{
	width: 80%;
	margin-left: 10%;
}


.sell-form-container .sell-form h4{
    display: block;
    width: 100%;
    height: 18px;
	margin-bottom: 5px;
	color: #1A535C;
   font-size: 18px;
   font-family: sans-serif;

}

.sell-fname, .sell-country{
	float: left;
	width: 47%;
}

.sell-lname, .sell-city{
   float: right;
   width: 47%;
}

.sell-form input[type=text]{
  width: 100%;
  padding: 7px 10px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.sell-form input[type=text]:focus{
  border: 2px solid #4ECDC4;
  outline: none;
  color: #1A535C;
}


.sell-form input[type=email]{
  width: 100%;
  float: left;
  padding: 7px 10px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
    color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.sell-form input[type=email]:focus{
  border: 2px solid #4ECDC4;
  outline: none;
  color: #1A535C;
}

.sell-form input[type=password]{
  width: 100%;
  padding: 7px 10px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
    color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.sell-form input[type=password]:focus{
  border: 2px solid #4ECDC4;
  outline: none;
  color: #1A535C;
}

.sell-form input[type=submit]{
  width: 100%;
  margin-top: 40px;
  margin-left: 50%;
  transform: translate(-50%,0);
  padding: 5px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.sell-form input[type=submit]:focus{
  border: 2px solid #4ECDC4;
  outline: none;
  color: #1A535C;
}
.sell-form input[type=submit]:hover{
  outline: none;
  color: #4ECDC4;
  background-color: #1A535C;
  cursor: pointer;
}


.sell-form label{
	display: block;
	color: #1A535C;
	font-size: 18px;
	margin-top: 25px;
	width: 100%;
	margin-bottom: 5px;
}

.sell-category{

    padding: 7px 10px;
  display: inline-block;
  border: 2px solid #1A535C;
  border-radius: 4px;
  box-sizing: border-box;
    color: #1A535C;
  font-family: "Arial", sans-serif;
  font-size: 16px;
	width: 100%;
	text-align: center;

}





.category-menu{
  display: inline-block;
  overflow: hidden;
  border: 1px solid #1A535C;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 2px 20px;
  border-radius: 16px;
  cursor: pointer;
  
}

.category-menu:hover{

  background-color: #1A535C;

} 

.category-menu:hover li{

  color: #4ECDC4;

} 

.category-menu li{  
  display: block;
  float: left;
  margin-top: 3px;
  color: #1A535C;
}

.category-menu h4{
  font-size: 17px;
  font-family: sans-serif;
  margin-top: 2px;
  margin-left: 5px;
}

.screen-overlay{
  display: none;
  height: 100%;
  width: 100%;
  background-color: #222222;
  opacity: 0.2;
  position: fixed;
  z-index: 905;
  margin-top: -125px;
}


.category-sidebar{
  display: block;
  height: 100%;
  width: 25%;
  background-color: white;
  position: fixed;
  margin-top: -125px;
  margin-left: -25%;
  z-index: 910;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-y: scroll;
  transition: 0.8s;
}

.category-sidebar .closeIcon{

   display: inline-block;
   float: right;
   margin-top: 10px;
   margin-right: 10px;
}





.category-sidebar .closeIcon span{

   display: block;
   font-size: 30px;
   color: #1A535C;
   cursor: pointer;
   font-weight: bold;
}  

.category-sidebar .closeIcon span:hover{
   font-size: 26px;
   margin-top: 2px;
   margin-right: 2px;
   color: #4ECDC4;
}   

.category-sidebar::-webkit-scrollbar{

  width: 14px;
}

/* Track */
.category-sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 7px;
}
 
/* Handle */
.category-sidebar::-webkit-scrollbar-thumb {
  background: #1A535C; 
  border-radius: 7px;
}

/* Handle on hover */
.category-sidebar::-webkit-scrollbar-thumb:hover {
  background: #4ECDC4; 
}


.category-logo{
  width: 50%;
  margin-left: 20px;
  margin-top: 40px;
}


.category-title{
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
   color: #1A535C;
   font-weight: bold;
   font-size: 17px;
}

.category-sidebar li{
  width: 100%;
  padding: 12px 0px;
  list-style: none;
}

.category-sidebar li:hover{
  
  background-color: #DDDDDD;

} 

.category-sidebar li a{
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 20px;
  color: #1A535C;
  cursor: pointer;

}

.product-group-btn{
  display: inline-block;
  width: 100%;
  height: 31px;
  margin-top: 50px;
  background-color: grey;
}



.product-filter{
  display: inline-block;
  float: left;
}

.product-filter button{
  color: #1A535C;
  border: 1px solid #1A535C;
  border-radius: 3px;
  cursor: pointer;
  padding: 0px 25px;

}

.product-filter button:hover{
  color: #4ECDC4;
  border: 1px solid #1A535C;
  background: #1A535C; 
}

.product-filter .active{
  color: #4ECDC4;
  border: 1px solid #1A535C;
  background: #1A535C; 
  cursor: auto;
}

.product-sort{
  display: inline-block;
  float: left;
  margin-right: 50px;
  cursor: pointer;
  
}

.product-sort:hover li{

  color: #4ECDC4;

} 

.product-sort li{  
  display: block;
  float: left;
  margin-top: 3px;
  color: #1A535C;
  font-weight: bold;
  margin-top: 5px;
}

.product-sort p{
  font-size: 14px;
  font-family: sans-serif;
  margin-top: 2px;
  margin-left: 5px;
}


.product-group-btn-right{
  display: inline-block;
  float: right;
}


#product-view{
  float: left;
  display: inline-block;
}

#product-view button{
  color: #1A535C;
  border: 1px solid #1A535C;
  border-radius: 3px;
  cursor: pointer;

}

#product-view button:hover{
  color: #4ECDC4;
  border: 1px solid #1A535C;
  background: #1A535C; 
}

#product-view button.active{
  color: #4ECDC4;
  border: 1px solid #1A535C;
  background: #1A535C; 
  cursor: auto;
}


.product-table{
  width: 90%;
  margin-left: 5%;
}

.product-content{
  
}
  
.product-content-col{
  float: left;
  width: 32%;
  margin-left: 1%;
  padding-top: 300px;
  margin-top: 10px;
  background-color: #CCCCCC;
  overflow: hidden;
}

.product-content-col:hover{
  box-shadow: 0px 0px 1px 4px inset #EEEEEE;
  transition: 0.8s;
}



.product-container{
  display: block;
  width: 90%;
  height: 50px;
}


.product-content-col li{
  list-style: none;
  display: block;
}

.product-content-col li img{
  display: block;
  margin-top: 0;
  width: 50%;
  top: 0;
}
